<ng-container *ngIf="state">
    <clr-modal #modal [clrModalOpen]="state.isOpen" [clrModalClosable]="false">
        <h3 class="modal-title">Comment & Confirm</h3>
        <div class="modal-body">
            <input type="text" placeholder="Comment" style="width: 100%"/>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="onClickClose()">
                Cancel
            </button>

            <button type="button" class="btn btn-primary" (click)="callback()">
                Confirm
            </button>
        </div>
    </clr-modal>
</ng-container>
