.sidenav {
    max-width: 288px;
    min-width: 240px;
}

/* .nav-group { */
/*     margin-left: 1em; */
/* } */

.main-container .content-container .content-area {
    padding-top: 0px;
}

nav > section {
    overflow: auto;
    margin-left: 12px;
    position: relative;
    height: 100%;
}
