<executive-form
    [executive]="configDetails ? configDetails.executive : null">
</executive-form>

<div id="editor" class="editor" > </div>

<div class="checkbox" style="display: inline-block; margin-right: 1em;">
    <input id="vim_bindings_toggle" type="checkbox"
           [checked]="vimKeybindings" (change)="toggleBindings()">
    <label for="vim_bindings_toggle">Vim bindings</label>
</div>

<button class="btn" (click)="beautify()">
    Beautify
</button>

<button class="btn btn-info" (click)="previewFinalXML()">
    Preview final XML
</button>

<button class="btn btn-primary" (click)="submit()"
        style="float: right">
    Submit as new version
</button>
