<executive-form
    #executiveForm
    [executive]="configDetails ? configDetails.executive : null">
</executive-form>

<div #editorContainer class="editor" > </div>

<div class="checkbox" style="display: inline-block; margin-right: 1em;">
    <input id="vim_bindings_toggle" type="checkbox"
           [checked]="vimKeybindings" (change)="toggleBindings()">
    <label for="vim_bindings_toggle">Vim bindings</label>
</div>

<button class="btn" (click)="beautifyXML()">
    Beautify
</button>

<button
    class="btn"
    (click)="preview.emit({xml: editor.getValue(), executive: executiveForm.getValue()})">
    Preview final XML
</button>

<button
    class="btn btn-primary"
    style="float: right"
    (click)="submit.emit({xml: editor.getValue(), executive: executiveForm.getValue()})">
    Submit as new version
</button>
