<label class="dropdown-header">{{configName}}</label>
<a class="dropdown-item" [routerLink]="'/editor'"><b>Edit</b> <small>configuration</small></a>
<button class="dropdown-item disabled"><b>Turn ON</b> <small>executive</small></button>
<button class="dropdown-item"><b>Turn OFF</b> <small>executive</small></button>
<button class="dropdown-item"><b>Reset</b> <small>executive</small></button>
<button class="dropdown-item"><b>Create</b> <small>function manager</small></button>
<button class="dropdown-item"><b>Destroy</b> <small>function manager</small></button>
