<div class="main-container">
    <overview-header
        [owners]="owners | async"
        [owner]="owner | async"
        (ownerChange)="ownerChanged($event)"
        [alarm]="alarm | async"
        (refresh)="refresh()">
    </overview-header>
    <div class="content-container">
        <div class="content-area">
            asdf content
            <h1> asdf asdf asdf</h1>
            <div> qwerqw qwer qwer qwe qwerqwer qwer qwer rq woiu oxzc oi</div>
            <overview-active-panel
                [configurations]="configurations | async">
            </overview-active-panel>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <overview-tree [configurations]="configurations | async"></overview-tree>
                </section>
            </section>
        </nav>
    </div>
</div>
