.main-container .content-container .content-area {
    padding-top: 0px;
}

.back-link {
    display: inline-block;
}

.back-link-text {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
}

.header-text {
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

.header-label {
    vertical-align: middle;
}
