<h3>History table</h3>

<table class="table">
    <thead>
        <tr>
            <th>Version</th>
            <th>Modified</th>
            <th>Comment</th>
            <th>Select</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of entries" [class.selected]="row[0]===selectedVersion">
            <td>{{row[0]}}</td>
            <td>{{row[1] | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{row[2]}}</td>
            <td>
                <button class="btn btn-sm" (click)="onBtnSelectVersion(row[0])">
                    Select
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button
        class="btn"
        [disabled]="disabledBtnLoadOlder"
        (click)="onBtnLoadOlder()">
        Show older versions
    </button>
</div>
