<label class="dropdown-header">{{name}}</label>
<a class="dropdown-item" [routerLink]="'/editor' + path">
    <b>Edit</b> <small>configuration</small>
</a>
<button class="dropdown-item" (click)="sendTurnON()"
        [disabled]="disabledActionButton.turnon"
        [class.disabled]="disabledActionButton.turnon">
    <b>Turn ON</b> <small>executive</small>
</button>
<button class="dropdown-item" (click)="sendTurnOFF()"
        [disabled]="disabledActionButton.turnoff"
        [class.disabled]="disabledActionButton.turnoff">
    <b>Turn OFF</b> <small>executive</small>
</button>
<button class="dropdown-item disabled" (click)="sendReset()"
        [disabled]="disabledActionButton.reset"
        [class.disabled]="disabledActionButton.reset">
    <b>Reset</b> <small>executive</small>
</button>
<button class="dropdown-item" (click)="sendCreate()"
        [disabled]="disabledActionButton.create"
        [class.disabled]="disabledActionButton.create">
    <b>Create</b> <small>function manager</small>
</button>
<button class="dropdown-item" (click)="sendDestroy()"
        [disabled]="disabledActionButton.destroy"
        [class.disabled]="disabledActionButton.destroy">
    <b>Destroy</b> <small>function manager</small>
</button>
